<%- model_class = Rr -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:url) %>:</strong></dt>
  <dd><%= @rr.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:response) %>:</strong></dt>
  <dd><%= @rr.response %></dd>
  <dt><strong>CURL:</strong></dt>
  <dd><%= get_curl_req(@rr, @application) %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              rrs_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_rr_path(@rr), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              rr_path(@rr),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>


<!-- headers class -->
<%- model_class = Header -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:key) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @headers.each do |header| %>
      <tr>
        <td><%= link_to header.id, header_path(header, :rr_id => params[:id]) %></td>
        <td><%= header.key %></td>
        <td><%= header.value %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_header_path(header), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      header_path(header),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.headers', :default => t("helpers.links.new")),
            new_header_path(:rr_id => @rr.id),
            :class => 'btn btn-primary' %>

<!-- Parameters class -->
<%- model_class = Parameter -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:key) %></th>
      <th><%= model_class.human_attribute_name(:value) %></th>
      <th><%= model_class.human_attribute_name(:param_type) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @parameters.each do |parameter| %>
      <tr>
        <td><%= link_to parameter.id, parameter_path(parameter) %></td>
        <td><%= parameter.key %></td>
        <td><%= parameter.value %></td>
        <td><%= parameter.param_type %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_parameter_path(parameter), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      parameter_path(parameter),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.paramters', :default => t("helpers.links.new")),
            new_parameter_path(:rr_id => @rr.id),
            :class => 'btn btn-primary' %>